.category-title {
  padding-top: 25px;
  font-size: 2rem;
  color:black;
}
.cake {
  position: absolute;
  width: 18.75rem;
  height: 12.5rem;
  border-radius: 20px;
}
.text {
  position: relative;
  top: 6.25rem;
  text-align: center;
  width: 18.75rem;
  background-color: var(--white-color);
  text-decoration: none;
  color: black;
}
.left-nav{
  width: 50%;
}
.category-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 70px;
}
.nav,
.nav-item {
  box-shadow: 4px 4px 8px var(--shadow-color);
  margin-bottom: 0.625rem;
  background-color: rgb(210, 22, 126);
  max-width: 100%;
}
.image-card {
  margin: 3.2rem 2.5rem;
  
}
.template {
  height: 30rem;
  width: 94%;
  margin: 5px 3.2rem;
}
.btn {
  text-align: center;
  text-decoration: none;
}
.body-cart {
  margin-bottom: 3.2rem;
  margin-top: 15.5rem;
  justify-content: space-around;
}
.body-cart-container {
  padding: 5px;
  width: 31.25rem;
  height: 18.75rem;
  box-shadow: 1px 1px 0.625rem var(--black-color);
}
.body-cart-image {
  height: 100%;
  width: 16rem;
}
.body-cart-heading {
  text-align: center;
  margin-top: 5rem;
  display: block;
  margin-right: auto;
  font-size: 2.12rem;
  font-weight: 800;
}
.para-description {
  margin-top: 1.25rem;
  text-align: center;
  font-weight: 600;
}
.btn-class {
  margin-top: 1.25rem;
  text-align: center;
}
.btn-round-1{
  border-radius: 40%;
  padding: 0.875rem;
  background-color:rgb(194, 49, 100) ;
  border: none;
}