.wishlist-card{
  border:1px dotted gray;
  height:22rem;
  width:15.75rem;

}
.wishlist-container{
  padding: 10px 10px;
  width:15.75rem;
  display:flex;
  margin:0px
}
.wishlist-heading{
  font-size:1.5rem;
  padding:2rem;
}
.wishlist-flex{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 2.3rem;
  margin:0px 80px;
  padding: 10px 2rem;
  width:80%;
  height:80%;
  box-shadow: 4px -4px 4px var(--shadow-color);
}
.No-wishlist{
  text-align: center;
  padding:50px;
  font-size: 32px;
}
@media only screen and (max-width: 700px) {
  .wishlist-flex{
    margin:0;
  }
}