.wishist-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3.1rem;
    margin: 0px;
  }
  .mywishlist-heading {
    padding-top: 20px;
    font-size: 1.87rem;
  }
  /* .nav-item{
    background-color: var(--gray-color);
  } */