.main {
  display: flex;
  flex-direction: column;
  
}
.main-body-sec {
  overflow-y: auto;
  display: flex;
  flex: 1;
  background-color: var(--white-color);
}
.filter-sidebar {
  flex-basis: 20%;
  box-shadow: 4px -8px 8px var(--shadow-color);
}
.product-button {
  justify-content: space-around;
}
.filter-sidebar-heading span b{
  font-size:25px;
}
.filter-sidebar-heading {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
}

.filter-cat span b{
  font-size: 16px;
}
.filter-cat{
  padding: 16px 16px;
}
.filter-item {
  padding: 0.5rem 2rem;
  display: flex;
  font: 16px sans-serif;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.filter-item input {
  height: 16px;
  width: 16px;
}

/* styling the right part */
.showing-heading {
  font-size: 24px;
  padding: 10px;
}

.right-body-section {
  flex: 1;
  padding-right: 80px;
  padding-left: 50px;
  overflow-y: auto;
}
.product-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
}

.card-container {
  width: 250px;
  margin: 20px 10px;
  height: 350px;
  ;
}
.description {
  background: white;
}
.card-image {
  width: 250px;
  height: 200px;
}
.product-description {
  padding: 8px;
  font-size: 12px;
  line-height: 15px;
  height: 40px;
}
.product-price {
  margin: 0px 20px;
}
.product-price p {
  font-size: 13px;
  padding: 4px 6px;
}
.original-price {
  text-decoration: line-through;
}
.card-heading {
  font-weight: 800;
}
.ecom-btn{
  border-radius: 5px;
  padding:4px;
  border:none;
  background-color: rgb(194, 49, 100);
  color:var(--white-color);
  font-size: 14px;
  
}
.ecom-btn:hover{
  background-color: white;
  border: 2px solid rgb(194, 49, 100);
  color:black;
  padding: 2.25px;
}