.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--white-color);
    transform: translate(-50%, -50%);
    width: 25.7rem;
    height: 25rem;
    padding: 1.875rem;
    box-shadow: 1px 1px 0.625rem var(--black-color);
    font-weight: 800;
  }
  
  .login-container .login-heading {
    font-size: 2.2rem;
  }
  
  .login-container form .data {
    height: 2.8rem;
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }
  form .data input {
    height: 100%;
    width: 100%;
  }
  
  form .btn button {
    padding: 0.625rem;
    width: 100%;
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .create-new-account {
    text-align: center;
    padding: 1.25rem;
  }
  
  input {
    border: 1px solid lightgray;
    margin-top: 5px;
  }
  .label-class {
    float: left;
    color: black;
  }
  .btn {
    background-color: var(--white-color);
    text-align: center;
    text-decoration: none;
  }
  .login-btn{
    width: 100%;
    background-color: rgb(194, 49, 100);
    border : 2px solid rgb(194, 49, 100);
    padding: 0.625rem;
    margin-top: 1.25rem;
  } 
  .login-btn:hover{
    background-color: white;
    border:2px solid rgb(194, 49, 100);
    color: rgb(194, 49, 100);
    font-weight:800;
  }
  .alert-items{
    margin-bottom: 0.625rem;
}