.cart-image {
  height: 10rem;
  width: 12rem;
  margin: 0.625rem;
}

.mycart-heading {
  font-size: 1.5rem;
  padding: 0.625rem;
  border-bottom: 1px solid var(--grey-color);
}

.mycart-container {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 16px var(--shadow-color);
  top: 20%;
}
.cart-description {
  padding-top: 0.313rem;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 500;
}
.cart-info {
  padding: 1.25rem;
}
.cart-price {
  font-size: 0.5rem;
  line-height: 0.625rem;
  padding-top: 0.625rem;
  width: 14rem;
  justify-content: space-between;
}
.qty-button {
  border-radius: 0.313rem;
  margin: 2.5rem 0.313rem;
}
.cart-title {
  font-weight: 800;
}
.cart-flex{
  display: flex;
  justify-content:space-around ;
  padding-top: 50px;
}
.Price-container {
  background-color: var(--white-color);
  width: 20rem;
  height: 20rem;
  box-shadow: 1px 1px 0.625rem var(--shadow-color);
  padding: 10px;
  border-radius: 10px;
  top: 20%;
}
.price-details-heading {
  text-align: center;
}

.list {
  display: inline;
  padding: 0.625rem;
  margin: 0.625rem;
}

.price-items {
  padding-right: 0.625rem;
  text-align: right;
  float: right;
}

.item {
  padding: 0.625rem;
}

.saved-money {
  color: var(--gray-color);
}

.btn-place-order {
  text-align: center;
  width: 100%;
  padding: 0.65rem;
  background-color: rgb(194, 49, 100);
  border: none;
  color: var(--white-color);
}
.btn-Gpay-order {
  text-align: center;
  width: 100%;

  background-color: rgb(194, 49, 100);
}
.remove-btn {
  border:2px solid rgb(194, 49, 100);
  background-color: white;
  padding: 3px;
  text-align: center;
  border-radius: 0.313rem;
  margin: 0px 0.313rem ;
  font-size:14px
}
.remove-btn:hover{
  background-color:rgb(194, 49, 100);
  color:white;
  padding: 3px;
  border:2px solid rgb(194, 49, 100);
}
iframe{
  padding:0px;
}

@media only screen and (max-width: 992px) {
  .cart-flex{
    flex-direction: column;
    column-gap: 40px;
  }
  .Price-container{
    width: auto;
  }
  .cart-image{
    width:7rem;
    margin:0
  }
}